{% extends 'layout.html.twig' %}

{% block content %}
    Add your comment on {{ item.title }}
    {% if error %}
        <p>You must add a non empty comment</p>
    {% endif %}
    <form method="post">
        <label for="comment">You thought : </label>
        <textarea name="comment", id="comment"></textarea>
        <input type="submit" value="Send">
    </form>
{% endblock %}
